<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>

    <body>
        <!--这是我们的View-->
        <div id="app" >
                <p>{{ message }}</p>
                <input type="text" v-model="message"/>

                <p v-if="seen">现在你看到我了</p>

                <h1 v-if="age >= 25">Age: {{ age }}</h1>
                <h1 v-else>Name: {{ name }}</h1>

                <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Sex</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="person in people">
                                <td>{{ person.name  }}</td>
                                <td>{{ person.age  }}</td>
                                <td>{{ person.sex  }}</td>
                            </tr>
                        </tbody>
                </table>


                <ul class="pagination">
                        <li v-for="n in pageCount">
                            <a href="javascripit:void(0)" v-bind:class="activeNumber === n + 1 ? 'active' : ''">{{ n }}</a>
                        </li>
                </ul>

                <p>
                    <!--click事件直接绑定一个方法-->
                    <button v-on:click="greet">Greet</button>
                    <button @click="greet">Greet</button>
                </p>

                <p>
                    <!--click事件使用内联语句-->
                    <button v-on:click="say($event)">Hi</button>
                </p>

                <todo-item
                        v-for="item in people"
                        v-bind:todo="item"
                        v-bind:key="item.name">
                </todo-item>

                <a v-bind:href="url">...</a>       
                <a :href="url">...。。。</a>

        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>

        var exampleData = {
            message: 'Hello World!'
        };

        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{todo.name}}</li>'
        })

        var vm = new Vue({
            el: '#app',
            data: {
                url: "http://www.ccb.com",
                message : exampleData.message + new Date().toLocaleString(), 
                seen: true,
                age: 30,
                name : "lwj",
                people: [{
                    name: 'Jack',
                    age: 30,
                    sex: 'Male'
                }, {
                    name: 'Bill',
                    age: 26,
                    sex: 'Male'
                }, {
                    name: 'Tracy',
                    age: 22,
                    sex: 'Female'
                }, {
                    name: 'Chris',
                    age: 36,
                    sex: 'Male'
                }],
                activeNumber: 1,
                pageCount: 10,
            },
            methods: {
                greet: function() {
                    alert(this.message)
                },
                say: function(e) {
                    console.log(e)
                    console.log(e.currentTarget)
                }
            },
            computed:{
                diffmessage : function() {
                    return  this.message.substring(0,3)
                }
            },
            created: function () {
                // `this` 指向 vm 实例
                console.log('message  is: ' + this.message)
            },
        });


        
    </script>
</html>
